.Cards-products-basket-product {
	display: flex;
	align-items: center;
	margin: 20px 0;
}

.Cards-products-basket-product-title {
 margin: 0 20px;
 width: 60%;
}

.Cards-products-basket-product-second_section {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.Cards-products-basket-product-img>img {
	width: 100px;
}

#Cards-products-basket-product-btns-delete_product {
	border: none;
	cursor: pointer;
	padding: 0;
	height: 20px;
	width: 20px;
}

#Cards-products-basket-product-btns-delete_product>img {
	width: 20px;
}

.Cards-products-basket-product-btns-change_count {
	display: flex;
	align-items: center;
	padding-right: 20px;
}

.Cards-products-basket-product-btns-change_count>button {
	background-color: transparent;
	color: black;
	border: 1px solid black;
	border-radius: 50%;
	font-size: 13px;
	padding: 0;
	margin: 0 10px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Cards-products-basket-product-btns {
	display: flex;
	align-items: center;
}
.Cards-products-basket {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-right: 20px;
}
.Cards-products-basket-product-btns-price {
	margin-right: 10px;
}

.Cards-products-basket-product-btns-price>span {
	white-space: nowrap;
}

@media (max-width:550px) {
	.Cards-products-basket-product-second_section {
		flex-direction: column;
		align-items: flex-start;
		margin-left: 10px;
		height: 100px;
	}
	.Cards-products-basket-product-title {
		width: 100%;
		margin: 0;
		font-size: 0.9em;
	}
	.Cards-products-basket-product-btns-change_count {
		padding: 0;
	}
	.Cards-products-basket-product-btns-change_count>button:first-child {
		margin-left: 0 !important;
	}
}
